other-code/sru-srw/cgi/isru.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Archibald Warnock (A/WWW Enterprises) -->
<!--DTD generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!ELEMENT isru (host, port, title, description, status, dblist)>
<!ATTLIST isru
  :isru CDATA #IMPLIED
>
<!ELEMENT db EMPTY>
<!ATTLIST db
  name CDATA #REQUIRED
  sru CDATA #REQUIRED
  linkage CDATA #REQUIRED
>
<!ELEMENT dblist (db)+>
<!ELEMENT description (#PCDATA)>
<!ELEMENT host (#PCDATA)>
<!ELEMENT port (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT title (#PCDATA)>
